@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@theme {
    --font-raleway: "Raleway";
}

:root {
    --background-color: #E6F2FA;
    --primary-color: #6CAED9;
    --secondary-color: #FFB347;
    --text-color: #2C3E50;
    --neutral-color: #FDF6EC;
    font-family: "Inter", sans-serif;
}